*.obj
*.o
Debug/*.c.nativecodeanalysis.xml
Debug/link.*.tlog
*.idb
lua-nginx-module-0.9.13/.gitmodules
lua-nginx-module-0.9.13/t/*
lua-5.1.5/doc/*
Debug/logs/*
Debug/cl.*.tlog
Debug/*.pdb
pcre-8.12/build/share/doc/*
pcre-8.12/testdata/*
pcre-8.12/doc
Debug/link*.tlog
Debug/nginx*
nginx.opensdf
nginx.sdf
nginx.sln.old
Debug/rc.*.tlog
Debug/rc.write.1.tlog
debug/desktop.ini
lua-nginx-module-0.9.13/.gitignore
ngx_devel_kit-0.2.19/.gitignore
Debug/web/
README.md
Release/nginx.log
logs/
conf/
Debug/conf/
Debug/conf/*
Debug/*
.gitignore
